{% extends 'pversigt/base.html' %}

{% block content %}
<h1>Naviger via faner</h1>
<br>
<h3>Den navigation som er i gennemgående,<br> er den jeg kalder faner. <br>
Hver fane har sin html, url og view.<br>
Køres den via 'base.html', skal der kun opdateres på den side, og kun en gang. </h3>
<br>
<h4><ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Forside</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Tap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Rul</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Knapper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Tekst</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Side</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ikon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Fane</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'info' %}"><font color=red>Info</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul></h4>
{% endblock content %}