{% extends "pversigt/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<div position=left>
<h1 style='margin:0;
                            transform: rotate(-35deg);position: left;'> 
                            <b><font color=blue>Få ideer</font>-
                            <i><font color=green>til</font></i>-
                            <u><font color=red>Navigation</font></u> 
  </b></h1>
</div>
<br>
<br>
  <br>
    <br>
    <br>
    <h3><font color=green>Når en der skal startes på at kode en side, er navigationen en af de første ting man skal tænke over.<br>
       skal dem der skal ind på siden navigere rundt, hvordan vil man have siden til at se ud m.m.<br>
      Det kommer jeg med nogle bud på her. Og det er muligt at afprøve dem.<br>
    noget andet der skal tænkes over er hvordan siden skal se ud, skal der tabeller med og så videre.<br>
  Men denne gang er det navigation vi kigger på.</font></h3>
  
{% endblock content %}