{% extends "pversigt/base.html" %}

{% block content %}
<br>
<h1 style='margin:0;
                            transform: rotate(-40deg);position: relative;'> 
                            <b><font color=blue>Få ideer</font>-
                            <i><font color=green>til</font></i>-
                            <u><font color=red>Navigation</font></u> 
  </b></h1>
  <hr>
  <br>
  <h3><font color=green>Når en der skal startes på at kode en side, er navigationen en af de første ting man skal tænke over.<br>
    Hvordan skal dem der skal ind på siden navigere rundt, hvordan vil man have siden til at se ud m.m.<br>
    Det kommer jeg med nogle bud på her.</font></h3>
{% endblock content %}