{% extends 'pversigt/base.html' %}

{% block content %}

<h1>SIDE-NAVIGATION</h1>
<br>
   
<h3>Som side-navigation kan bl.a.<u> django-menu-generator </u>bruges. Se link og følg nøje hvordan man gør.</h3>
<br>
    <a href="https://django-menu-generator.readthedocs.io/en/latest/install.html" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Links til Python og Django</small> </a>
    <br>
    <h3>Et eksempel på django-menu-generator er:</h3>
    <a href="https://fly-deploy-hidden-flower-5.fly.dev/"target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Links til Python og Django</small> </a>

{% endblock content %}